th, tr {
	text-align: center;
}
th, .usuario {
	color: #2E7208;
}
tr {
	color: #0A9453;
}
.boton, .panel-title, th, tr, .registrarse {
	font-weight: bold;
}
body {
	background: linear-gradient(to bottom, white, black);
	background-size: 350%;
	margin: 1%;
}
body::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; height: 100%;
  background-image: url("../images/fondo.jpg");
  background-attachment: fixed;
  background-position: bottom;
  filter: opacity(25%);
  z-index: -1;
  background-repeat: no-repeat;
}
.login {
	margin: 5%;
}
input, button, textarea, select {
	margin: 2%;
}
.row {
	margin: 3%;
}
.col-md-4 {
	text-align: justify-all;
	border-color: black;
	border-width: 20%;
}
span {
	font-size: 200%;
}
.copyright, .telefono {
	color: white;
	padding-top: 0.3%;
}
.navbar-brand {
	font-size: 200%;
}
.panel, .suscripcion {
	margin-left: 5%;
	margin-right: 5%;
}
.opinion {
	margin-left: 3%;
	margin-right: 3%;
}
.tituloempresa {
	font-family: monospace;
	font-size: 600%;
	text-align: center;
	margin-top: 5%;
}
.presentacion {
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	margin-top: 5%;
}
.table-responsive {
	margin-right: 2%;
}
.jumbotron {
	margin-left: 3%;
	border-radius: 1%;
}
.btn, .registrarse {
	margin: 2%;
}
a:hover {
	text-decoration: none;
	color: blue;
}
a:link {
	color: black;
}
.list-group {
	margin: 2%;
	padding: 2%;
}
.guardarcomentario, .suscribirse {
	margin-left: 2%;
}
.navegador {
	background-color: #1A5A09;
}
.titulologin {
	margin-left: 35%;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:42px !important; 
    padding-bottom:0 !important;
    height: 105px;
}
.navbar {
	min-height:60px !important;
	filter: opacity(95%);
}
.fb {
	width: 86%;
	margin-left: 4%;
}
.twitter {
	width: 74%;
}
.insta {
	width: 74%;
	margin-top: 7%;
}
.twitter, .insta {
	margin-left: 10%;
}
.stock {
	font-size: 125%;
	font-weight: bold;
	color: red;
}
.filter, .dofilter, .comment, .puntaje {
	margin: 3%;
	width: 25%;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
footer {
	background-color: #222345;
	height: 120%;
}
.userdiv {
	color: white;
	font-weight: bold;
}
.user, .writer {
	color: #FF7400;
	font-size: 125%;
	font-weight: bold;
}
.panel {
	border-color: black;
	color: black;
}
.fotocelular {
	max-width: 300%;
}
.salir:link {
	color: lightblue;
}